.first_key {
  width: 50px;
  height: 50px;
  background: red;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #9f45d7;
  text-align: center;
}

.textarea-wrapper {
  display: flex;
  justify-content: center;
}

.textarea {
  background: #eee5cf;
}

.keysWrapper {
  width: 960px;
  height: 320px;
  border: 1px solid #000;
  margin: 20px auto;
}

.row1 {
  display: flex;
  justify-content: space-between;
}

.row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.key {
  width: 60px;
  height: 60px;
  background: #e0c764;
  font-size: 24px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backspace {
  width: 120px;
}